* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_div {
  width: 100%;
  height: 100vh;
  background: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div {
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}
.h1 {
  color: white;
  background: transparent;
  background-color: #a90716;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
}
input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #a90716;
  outline: none;
}
.newBtn {
  min-height: 40px;
  width: 55px;
  border-radius: 50%;
  font-size: 24px;
  border-color: transparent;
  background-color: #a90716;
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.3s ease 0s;
  margin-left: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
}

.newBtn:hover {
  background-color: white;
  color: #a90716;
}
ol {
  margin-top: 10px;
}
ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #a90716;
  text-transform: capitalize;
}
.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.fa-times {
  padding: 2px;
}
.todo_style .fa-times {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  background-color: #a90716;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
}
.todo_style .fa-times :hover {
  background-color: crimson;
}
.todo_style .fa-times .list_style {
  color: crimson;
}

@media (max-width: 765px) {
  .center_div {
    width: 75%;
  }
}
@media (max-width: 380px) {
  .center_div {
    width: 90%;
  }
}

.todo_style2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style2 .deleteicon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  padding: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.todo_style2 .deleteicon:hover {
  background-color: transparent;
  color: #a90716;
  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}
